/*--CSS Reset--*/
*{
    padding:0;
    margin:0;
    font-size:100%;
    font-weight:normal;
    line-height:1em;
}

/*--Main structual styling--*/

body{
    background: rgb(92, 184, 92);
    color: rgb(243, 236, 236);
}

section, header, footer{
    width: 80%;
    max-width: 700px;
    margin: auto;
}

/*--Styling typography--*/

h1,h3, blockquote{
    color: rgb(6, 29, 3);
}

p, blockquote{
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

h1{
    font-size: 5.653rem;
    margin-top: 3em;
}

h3{
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

blockquote{
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem;
}

cite{
    font-size: 0.8rem;
    color:rgb(243, 236, 236) ;
    font-style: normal;
}

/*--Styling Links--*/
a{
    color:rgb(6, 29, 3) ;
    text-decoration: none;
}

a:hover{
    color: crimson;
    border-bottom: 3px dotted;
}