/*--CSS Reset--*/
*{
    padding:0;
    margin:0;
    font-size:100%;
    font-weight:normal;
    line-height:1em;
}

/*--Main structual styling--*/

body{
    background: rgb(240, 243, 240);
    color: rgb(12, 17, 13);
}

section, header, footer{
    width: 80%;
    max-width: 700px;
    margin: auto;
}

/*--Styling typography--*/

h1,h3, blockquote{
    color: rgb(12, 49, 7);
}

p, blockquote{
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

h1{
    font-size: 5.653rem;
    margin-top: 3em;
}

h3{
    font-size: 1.999rem;
    margin: 3em 0 1em 0;
}

blockquote{
    font-size: 1.414rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.75rem;
}

cite{
    font-size: 0.8rem;
    color:rgb(243, 236, 236) ;
    font-style: normal;
}

/*--Styling Links--*/
a{
    color:rgb(6, 29, 3) ;
    text-decoration: none;
}

a:hover{
    color: crimson;
    border-bottom: 3px dotted;
}

/*--Styling nav--*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background:rgb(4, 24, 2) ;
    padding: 2em 0;
    font-size: 0.75rem;
}

nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav a{
    color: rgb(243, 236, 236);
}

nav a:hover{
    border-bottom: none;
    color: crimson;
    transition: all 0.3s ease-in-out;
}