/*--CSS Reset--*/
*{
    padding:0;
    margin:0;
    font-size:100%;
    font-weight:normal;
    line-height:1em;
}

/*--Main structual styling--*/

body{
    background: #449948;
    color: rgb(233, 220, 220);
}

section, header, footer{
    width: 80%;
    max-width: 700px;
    margin: auto;
}

/*--Styling typography--*/

h1,h3, blockquote{
    color: rgb(11, 53, 6);
}

p, blockquote{
    margin-bottom: 1.5rem;
    line-height: 1.4;
}